.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url('../../../images/header-image.png');
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
